#work-responses {
  display: none;
}

#fun-responses {
  display: none;
}

h1 {
  font-family: 'Londrina Outline', cursive;
  font-weight: bold;
  color: red;
}

.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
}

.button5 {border-radius: 50%;}
